  
  <body>
    <!-- inicio cabecera-->
  
  

  <!-- inicio cabecera-->
  <header id="header">
    <div class="wrap">
        <div id="logo">
            <span class="gear">S</span>
            <h3>BLOG</h3>
        </div>
        <nav id="menu">
            <ul>
                <li><a [routerLink]="['/home']"[routerLinkActive]="['active']">INICIO</a></li>
                <li><a [routerLink]="['/blog']" [routerLinkActive]="['active']">BLOG</a></li>
                <li><a [routerLink]="['/contacto']" [routerLinkActive]="['active']">CONTACTO</a></li>
               <!-- <li><a [routerLink]="['/contacto']" [routerLinkActive]="['active']">CONTACTO</a></li>-->
            <!--<li><a [routerLink]="['/peliculas']" [routerLinkActive]="['active']">Peliculas</a></li> -->
            </ul>
        </nav>
    </div>
    <div class="clearfix"></div>
</header>
<!--Fin de la cabecera-->

  </body>
  

